body{
    background-color: cornflowerblue;
}

h1{
    color: crimson;
}

h2{
    color: saddlebrown;
}

.rectangle{
    background-color: #f5dd5d;
    text-align: center;
    border: 5px outset black;
    width: 500px;
}